.coverage
htmlcov/
dumps/
.venv/
.python-version
uv.lock
.mypy_cache/
.ruff_cache/

dist/
build/
site/
pybind11/
*.egg-info/
__pycache__/
physicslabSav/

*.txt
*.json
*.coverage
*.lnk
*.png
*.obj
*.pdb
*.cfg
*.pyc
*.pyd
*.exe

# special file of physicslab
*.sav
!tests/data/*.sav
*.pl.py
*.ignore*
*.xz
